# Designing Database With SQL. #

---

## Purpose of this project. ##

The objective is to showcase my familiarity with SQL. The database is built using SQLite. 

## Table of content. ##

1. Data exploration and familiarisation:
    * [1.1  Explore and familiarise with the datasets.](#1.1-Explore-and-familiarise-with-the-datasets.)
2. Designing database:
    * [2.1  Setting up SQL Query & Command framework.](#2.1-Setting-up-SQL-Query-&-Command-framework.)
    * [2.2  Inserting data into SQL tables.](#2.2-Inserting-data-into-SQL-tables.)
    * [2.3  Adding new column to 'game_log' table.](#2.3-Adding-new-column-to-'game_log'-table.)
    * [2.4  Normalising the SQL tables.](#2.4-Normalising-the-SQL-tables.)    
3. [Notes for future reference.](#3.-Notes-for-future-reference.)

In [1]:
import sqlite3 as sql
import pandas as pd

# 1. Data exploration and familiarisation. # 

## 1.1 Explore and familiarise with the datasets. ##

Return to [Table of content.](#Table-of-content.)

---

__The dataset overview includes the following:__

1. Check the memory usage. 
2. Check whether the column names have extra spacing to prevent error when writing the names.
3. Check the data types.
4. Check the number of rows and columns.
5. Check the proportion of nulls.
6. Check if there's any duplicated rows. 

---

__Read datasets into `pandas`.__

In [2]:
# Store the dataframes into a dictionary.
# Easier to retrieve the dataframe when needed.
df = {}
csv = ["game_log.csv", "park_codes.csv", "person_codes.csv", "team_codes.csv", "appearance_type.csv"]

for i, r in enumerate(csv):
    name = r.split(".")[0]
    df[name] = pd.read_csv("csv/{}".format(r))
    
pd.set_option("display.max_columns", 200)

/Users/lioneltay/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (12,13,14,15,19,20,81,82,83,84,85,86,87,88,93,94,95,96,97,98,99,100,105,106,108,109,111,112,114,115,117,118,120,121,123,124,126,127,129,130,132,133,135,136,138,139,141,142,144,145,147,148,150,151,153,154,156,157,160) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### 1.1.1 Explore 'game_log' . ###

In [3]:
# To check the detail of the dataset.
def dataset_detail(df):
    import pandas as pd
        
    # Find null proportion. 
    nulls = round(df.isnull().sum() / df.shape[0] * 100, 2)
    # Find duplicates.
    duplicated = df[df.duplicated()]
    
    detail = {
        "Memory Usage": df.memory_usage(deep=True).sum(),
        "Shape": df.shape,
        "Columns": df.columns,
        "Dtypes": df.dtypes,
        "Nulls": nulls,
        "Duplicates": df.duplicated().sum()
    }
    return (detail, duplicated)

In [4]:
df["game_log"].head(10)

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,h_score,length_outs,day_night,completion,forefeit,protest,park_id,attendance,length_minutes,v_line_score,h_line_score,v_at_bats,v_hits,v_doubles,v_triples,v_homeruns,v_rbi,v_sacrifice_hits,v_sacrifice_flies,v_hit_by_pitch,v_walks,v_intentional_walks,v_strikeouts,v_stolen_bases,v_caught_stealing,v_grounded_into_double,v_first_catcher_interference,v_left_on_base,v_pitchers_used,v_individual_earned_runs,v_team_earned_runs,v_wild_pitches,v_balks,v_putouts,v_assists,v_errors,v_passed_balls,v_double_plays,v_triple_plays,h_at_bats,h_hits,h_doubles,h_triples,h_homeruns,h_rbi,h_sacrifice_hits,h_sacrifice_flies,h_hit_by_pitch,h_walks,h_intentional_walks,h_strikeouts,h_stolen_bases,h_caught_stealing,h_grounded_into_double,h_first_catcher_interference,h_left_on_base,h_pitchers_used,h_individual_earned_runs,h_team_earned_runs,h_wild_pitches,h_balks,h_putouts,h_assists,h_errors,h_passed_balls,h_double_plays,h_triple_plays,hp_umpire_id,hp_umpire_name,1b_umpire_id,1b_umpire_name,2b_umpire_id,2b_umpire_name,3b_umpire_id,3b_umpire_name,lf_umpire_id,lf_umpire_name,rf_umpire_id,rf_umpire_name,v_manager_id,v_manager_name,h_manager_id,h_manager_name,winning_pitcher_id,winning_pitcher_name,losing_pitcher_id,losing_pitcher_name,saving_pitcher_id,saving_pitcher_name,winning_rbi_batter_id,winning_rbi_batter_id_name,v_starting_pitcher_id,v_starting_pitcher_name,h_starting_pitcher_id,h_starting_pitcher_name,v_player_1_id,v_player_1_name,v_player_1_def_pos,v_player_2_id,v_player_2_name,v_player_2_def_pos,v_player_3_id,v_player_3_name,v_player_3_def_pos,v_player_4_id,v_player_4_name,v_player_4_def_pos,v_player_5_id,v_player_5_name,v_player_5_def_pos,v_player_6_id,v_player_6_name,v_player_6_def_pos,v_player_7_id,v_player_7_name,v_player_7_def_pos,v_player_8_id,v_player_8_name,v_player_8_def_pos,v_player_9_id,v_player_9_name,v_player_9_def_pos,h_player_1_id,h_player_1_name,h_player_1_def_pos,h_player_2_id,h_player_2_name,h_player_2_def_pos,h_player_3_id,h_player_3_name,h_player_3_def_pos,h_player_4_id,h_player_4_name,h_player_4_def_pos,h_player_5_id,h_player_5_name,h_player_5_def_pos,h_player_6_id,h_player_6_name,h_player_6_def_pos,h_player_7_id,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
0,18710504,0,Thu,CL1,NaN,1,FW1,NaN,1,0,2,54.0,D,NaN,NaN,NaN,FOR01,200.0,120.0,000000000,010010000,30.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,6.0,1.0,NaN,-1.0,NaN,4.0,1.0,1.0,1.0,0.0,0.0,27.0,9.0,0.0,3.0,0.0,0.0,31.0,4.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,NaN,-1.0,NaN,3.0,1.0,0.0,0.0,0.0,0.0,27.0,3.0,3.0,1.0,1.0,0.0,boakj901,John Boake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,lennb101,Bill Lennon,mathb101,Bobby Mathews,prata101,Al Pratt,NaN,NaN,NaN,NaN,prata101,Al Pratt,mathb101,Bobby Mathews,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,NaN,Y
1,18710505,0,Fri,BS1,NaN,1,WS3,NaN,1,20,18,54.0,D,NaN,NaN,NaN,WAS01,5000.0,145.0,107000435,640113030,41.0,13.0,1.0,2.0,0.0,13.0,0.0,0.0,0.0,18.0,NaN,5.0,3.0,NaN,-1.0,NaN,12.0,1.0,6.0,6.0,1.0,0.0,27.0,13.0,10.0,1.0,2.0,0.0,49.0,14.0,2.0,0.0,0.0,11.0,0.0,0.0,0.0,10.0,NaN,2.0,1.0,NaN,-1.0,NaN,14.0,1.0,7.0,7.0,0.0,0.0,27.0,20.0,10.0,2.0,3.0,0.0,dobsh901,Henry Dobson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrigh101,Harry Wright,younn801,Nick Young,spala101,Al Spalding,braia102,Asa Brainard,NaN,NaN,NaN,NaN,spala101,Al Spalding,braia102,Asa Brainard,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,watef102,Fred Waterman,5.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,allid101,Doug Allison,2.0,hallg101,George Hall,7.0,leona101,Andy Leonard,4.0,braia102,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,18710506,0,Sat,CL1,NaN,2,RC1,NaN,1,12,4,54.0,D,NaN,NaN,NaN,RCK01,1000.0,140.0,610020003,010020100,49.0,11.0,1.0,1.0,0.0,8.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,10.0,1.0,0.0,0.0,2.0,0.0,27.0,12.0,8.0,5.0,0.0,0.0,36.0,7.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,NaN,3.0,5.0,NaN,-1.0,NaN,5.0,1.0,3.0,3.0,1.0,0.0,27.0,12.0,13.0,3.0,0.0,0.0,mawnj901,J.H. Manny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,hasts101,Scott Hastings,prata101,Al Pratt,fishc102,Cherokee Fisher,NaN,NaN,NaN,NaN,prata101,Al Pratt,fishc102,Cherokee Fisher,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mackd101,Denny Mack,3.0,addyb101,Bob Addy,4.0,fishc102,Cherokee Fisher,1.0,hasts101,Scott Hastings,8.0,ham-r101,Ralph Ham,5.0,ansoc101,Cap Anson,2.0,sagep101,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,NaN,Y
3,18710508,0,Mon,CL1,NaN,3,CH1,NaN,1,12,14,54.0,D,NaN,NaN,NaN,CHI01,5000.0,150.0,101403111,077000000,46.0,15.0,2.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,7.0,1.0,6.0,6.0,0.0,0.0,27.0,15.0,11.0,6.0,0.0,0.0,43.0,11.0,2.0,0.0,0.0,8.0,0.0,0.0,0.0,4.0,NaN,2.0,1.0,NaN,-1.0,NaN,6.0,1.0,4.0,4.0,0.0,0.0,27.0,14.0,7.0,2.0,0.0,0.0,willg901,Gardner Willard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,woodj106,Jimmy Wood,zettg101,George Zettlein,prata101,Al Pratt,NaN,NaN,NaN,NaN,prata101,Al Pratt,zettg101,George Zettlein,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,NaN,Y
4,18710509,0,Tue,BS1,NaN,2,TRO,NaN,1,9,5,54.0,D,NaN,NaN,NaN,TRO01,3250.0,145.0,000002232,101003000,46.0,17.0,4.0,1.0,0.0,6.0,0.0,0.0,0.0,2.0,NaN,0.0,1.0,NaN,-1.0,NaN,12.0,1.0,2.0,2.0,0.0,0.0,27.0,12.0,5.0,0.0,1.0,0.0,36.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,NaN,0.0,2.0,NaN,-1.0,NaN,7.0,1.0,3.0,3.0,1.0,0.0,27.0,11.0,7.0,3.0,0.0,0.0,leroi901,Isaac Leroy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrigh101,Harry Wright,pikel101,Lip Pike,spala101,Al Spalding,mcmuj101,John McMullin,NaN,NaN,NaN,NaN,spala101,Al Spalding,mcmuj101,John McMullin,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y
5,18710511,0,Thu,CH1,NaN,2,CL1,NaN,4,18,10,48.0,D,NaN,V,NaN,CLE01,2500.0,120.0,12120534,01410004,41.0,15.0,1.0,3.0,3.0,10.0,0.0,0.0,0.0,8.0,NaN,1.0,0.0,NaN,-1.0,NaN,7.0,1.0,4.0,4.0,0.0,0.0,24.0,11.0,4.0,3.0,0.0,0.0,39.0,13.0,1.0,2.0,1.0,7.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,-1.0,NaN,5.0,2.0,10.0,10.0,2.0,0.0,24.0,7.0,5.0,2.0,0.0,0.0,haynj901,J.H. Haynie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,woodj106,Jimmy Wood,paboc101,Charlie Pabor,zettg101,George Zettlein,prata101,Al Pratt,NaN,NaN,NaN,NaN,zettg101,George Zettlein,prata101,Al Pratt,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,7.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,8.0,folet101,Tom Foley,9.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,NaN,Y
6,18710513,0,Sat,WS3,NaN,2,CL1,NaN,5,12,8,54.0,D,NaN,NaN,NaN,CIN01,1200.0,150.0,141020004,004100012,42.0,9.0,2.0,0.0,0.0,5.0,0.0,0.0,0.0,1.0,NaN,1.0,1.0,NaN,-1.0,NaN,4.0,1.0,2.0,2.0,0.0,0.0,27.0,9.0,6.0,3.0,1.0,0.0,39.0,11.0,1.0,1.0,0.0,5.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,4.0,1.0,3.0,3.0,3.0,0.0,27.0,6.0,8.0,1.0,0.0,0.0,drapj901,Doc Draper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,younn801,Nick Young,paboc101,Charlie Pabor,braia102,Asa Brainard,prata101,Al Pratt,NaN,NaN,NaN,NaN,braia102,Asa Brainard,prata101,Al Pratt,watef102,Fred Waterman,2.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,glenj102,John Glenn,9.0,burrh101,Henry Burroughs,5.0,leona101,Andy Leonard,7.0,braia102,Asa Brainard,1.0,hallg101,George Hall,8.0,berth101,Henry Berthrong,4.0,whitd102,Deacon White,2.0,allia101,Art Allison,8.0,paboc101,Charlie Pabor,7.0,carlj102,Jim Carleton,3.0,kimbg101,Gene Kimball,4.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,white104,Elmer White,9.0,bassj101,John Bass,6.0,NaN,Y
7,18710513,0,Sat,CH1,NaN,3,FW1,NaN,2,14,5,54.0,D,NaN,NaN,NaN,FOR01,1500.0,105.0,053210012,200002001,45.0,17.0,5.0,2.0,0.0,10.0,0.0,0.0,0.0,1.0,NaN,1.0,2.0,NaN,-1.0,NaN,5.0,1.0,2.0,2.0,0.0,0.0,27.0,8.0,4.0,2.0,0.0,0.0,33.0,5.0,1.0,2.0,0.0,3.0,0.0,0.0,0.0,3.0,NaN,1.0,0.0,NaN,-1.0,NaN,4.0,1.0,6.0,6.0,0.0,0.0,27.0,8.0,7.0,3.0,0.0,0.0,haynj901,J.H. Haynie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,woodj106,Jimmy Wood,lennb101,Bill Lennon,zettg101,George Zettlein,mathb101,Bobby Mathews,NaN,NaN,NaN,NaN,zettg101,George Zettlein,mathb101,Bobby Mathews,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,donnp101,Pete Donnelly,8.0,kellb105,Bill Kelly,9.0,NaN,Y
8,18710515,0,Mon,WS3,NaN,3,FW1,NaN,3,6,12,54.0,D,NaN,NaN,NaN,FOR01,NaN,140.0,030100101,003300123,42.0,8.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,NaN,1.0,1.0,NaN,-1.0,NaN,10.0,1.0,4.0,4.0,0.0,0.0,27.0,13.0,5.0,6.0,0.0,0.0,49.0,20.0,5.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,NaN,1.0,1.0,NaN,-1.0,NaN,10.0,1.0,1.0,1.0,0.0,0.0,27.0,6.0,9.0,2.0,0.0,0.0,holls901,Sam Holley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,younn801,Nick Young,lennb101,Bill Lennon,mathb101,Bobby Mathews,braia102,Asa Brainard,NaN,NaN,NaN,NaN,braia102,Asa Brainard,mathb101,Bobby Mathews,watef102,Fred Waterman,2.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,glenj102,John Glenn,9.0,burrh101,Henry Burroughs,5.0,leona101,Andy Leonard,7.0,braia102,Asa Brainard,1.0,hallg101,George Hall,8.0,berth101,Henry Berthrong,4.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,donnp101,Pete Donnelly,9.0,kellb105,Bill Kelly,8.0,NaN,Y
9,18710516,0,Tue,TRO,NaN,2,BS1,NaN,3,29,14,54.0,D,NaN,NaN,NaN,BOS01,2500.0,NaN,302604(11)30,610020221,64.0,26.0,3.0,1.0,0.0,26.0,0.0,0.0,0.0,2.0,NaN,0.0,3.0,NaN,-1.0,NaN,10.0,1.0,4.0,4.0,0.0,0.0,27.0,11.0,8.0,3.0,3.0,0.0,43.0,13.0,3.0,0.0,0.0,9.0,0.0,0.0,0.0,4.0,NaN,1.0,3.0,NaN,-1.0,NaN,6.0,1.0,10.0,10.0,0.0,0.0,27.0,17.0,15.0,2.0,1.0,0.0,rogem901,Mort Rogers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pikel101,Lip Pike,wrigh101,Harry Wright,mcmuj101,John McMullin,spala101,Al Spalding,NaN,NaN,NaN,NaN,mcmuj101,John McMullin,spala101,Al Spalding,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,6.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,jacks101,Sam Jackson,8.0,HTBF,Y

In [5]:
game_log_detail, game_log_duplicated = dataset_detail(df["game_log"])

for key, output in game_log_detail.items():
    print("\n\n{}: \n{}".format(key, output))

Memory Usage:
883731001


Shape:
(171907, 161)


Columns:
Index(['date', 'number_of_game', 'day_of_week', 'v_name', 'v_league',
       'v_game_number', 'h_name', 'h_league', 'h_game_number', 'v_score',
       ...
       'h_player_7_name', 'h_player_7_def_pos', 'h_player_8_id',
       'h_player_8_name', 'h_player_8_def_pos', 'h_player_9_id',
       'h_player_9_name', 'h_player_9_def_pos', 'additional_info',
       'acquisition_info'],
      dtype='object', length=161)


Dtypes:
date                    int64
number_of_game          int64
day_of_week            object
v_name                 object
v_league               object
                       ...
h_player_9_id          object
h_player_9_name        object
h_player_9_def_pos    float64
additional_info        object
acquisition_info       object
Length: 161, dtype: object


Nulls:
date                   0.00
number_of_game         0.00
day_of_week            0.00
v_name                 0.00
v_league               0.63
                      ...
h_player_9_id         18.07
h_player_9_name       18.07
h_player_9_def_pos    18.07
additional_info       99.15
acquisition_info      18.07
Length: 161, dtype: float64


Duplicates:
0

---
__Data dictionary for `game_log`.__

In [6]:
!cat info/game_log_fields.txt

Field(s)  Meaning
    1     Date in the form "yyyymmdd"
    2     Number of game:
             "0" -- a single game
             "1" -- the first game of a double (or triple) header
                    including seperate admission doubleheaders
             "2" -- the second game of a double (or triple) header
                    including seperate admission doubleheaders
             "3" -- the third game of a triple-header
             "A" -- the first game of a double-header involving 3 teams
             "B" -- the second game of a double-header involving 3 teams
    3     Day of week  ("Sun","Mon","Tue","Wed","Thu","Fri","Sat")
  4-5     Visiting team and league
    6     Visiting team game number
          For this and the home team game number, ties are counted as
          games and suspended games are counted from the starting
          rather than the ending date.
  7-8     Home team and league
    9     Home team game number
10-11     Visiting and home team score (unquoted)
   12     Length of game in outs (unquoted).  A full 9-inning game would
          have a 54 in this field.  If the home team won without batting
          in the bottom of the ninth, this field would contain a 51.
   13     Day/night indicator ("D" or "N")
   14     Completion information.  If the game was completed at a
          later date (either due to a suspension or an upheld protest)
          this field will include:
             "yyyymmdd,park,vs,hs,len" Where
          yyyymmdd -- the date the game was completed
          park -- the park ID where the game was completed
          vs -- the visitor score at the time of interruption
          hs -- the home score at the time of interruption
          len -- the length of the game in outs at time of interruption
          All the rest of the information in the record refers to the
          entire game.
   15     Forfeit information:
             "V" -- the game was forfeited to the visiting team
             "H" -- the game was forfeited to the home team
             "T" -- the game was ruled a no-decision
   16     Protest information:
             "P" -- the game was protested by an unidentified team
             "V" -- a disallowed protest was made by the visiting team
             "H" -- a disallowed protest was made by the home team
             "X" -- an upheld protest was made by the visiting team
             "Y" -- an upheld protest was made by the home team
          Note: two of these last four codes can appear in the field
          (if both teams protested the game).
   17     Park ID
   18     Attendance (unquoted)
   19     Time of game in minutes (unquoted)
20-21     Visiting and home line scores.  For example:
             "010000(10)0x"
          Would indicate a game where the home team scored a run in
          the second inning, ten in the seventh and didn't bat in the
          bottom of the ninth.
22-38     Visiting team offensive statistics (unquoted) (in order):
             at-bats
             hits
             doubles
             triples
             homeruns
             RBI
             sacrifice hits.  This may include sacrifice flies for years
                prior to 1954 when sacrifice flies were allowed.
             sacrifice flies (since 1954)
             hit-by-pitch
             walks
             intentional walks
             strikeouts
             stolen bases
             caught stealing
             grounded into double plays
             awarded first on catcher's interference
             left on base
39-43     Visiting team pitching statistics (unquoted)(in order):
             pitchers used ( 1 means it was a complete game )
             individual earned runs
             team earned runs
             wild pitches
             balks
44-49     Visiting team defensive statistics (unquoted) (in order):
             putouts.  Note: prior to 1931, this may not equal 3 times
                the number of innings pitched.  Prior to that, no
                putout was awarded when a runner was declared out for
                being hit by a batted ball.
             assists
             errors
             passed balls
             double plays
             triple plays
50-66     Home team offensive statistics
67-71     Home team pitching statistics
72-77     Home team defensive statistics
78-79     Home plate umpire ID and name
80-81     1B umpire ID and name
82-83     2B umpire ID and name
84-85     3B umpire ID and name
86-87     LF umpire ID and name
88-89     RF umpire ID and name
          If any umpire positions were not filled for a particular game
          the fields will be "","(none)".
90-91     Visiting team manager ID and name
92-93     Home team manager ID and name
94-95     Winning pitcher ID and name
96-97     Losing pitcher ID and name
98-99     Saving pitcher ID and name--"","(none)" if none awarded
100-101   Game Winning RBI batter ID and name--"","(none)" if none
          awarded
102-103   Visiting starting pitcher ID and name
104-105   Home starting pitcher ID and name
106-132   Visiting starting players ID, name and defensive position,
          listed in the order (1-9) they appeared in the batting order.
133-159   Home starting players ID, name and defensive position
          listed in the order (1-9) they appeared in the batting order.
  160     Additional information.  This is a grab-bag of informational
          items that might not warrant a field on their own.  The field
          is alpha-numeric. Some items are represented by tokens such as:
             "HTBF" -- home team batted first.
             Note: if "HTBF" is specified it would be possible to see
             something like "01002000x" in the visitor's line score.
          Changes in umpire positions during a game will also appear in
          this field.  These will be in the form:
             umpchange,inning,umpPosition,umpid with the latter three
             repeated for each umpire.
          These changes occur with umpire injuries, late arrival of
          umpires or changes from completion of suspended games. Details
          of suspended games are in field 14.
  161     Acquisition information:
             "Y" -- we have the complete game
             "N" -- we don't have any portion of the game
             "D" -- the game was derived from box score and game story
             "P" -- we have some portion of the game.  We may be missing
                    innings at the beginning, middle and end of the game.

Missing fields will be NULL.


---

### 1.1.2 Explore 'park_codes'. ###

In [7]:
df["park_codes"].head(10)

,park_id,name,aka,city,state,start,end,league,notes
0,ALB01,Riverside Park,NaN,Albany,NY,09/11/1880,05/30/1882,NL,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,NaN,Altoona,PA,04/30/1884,05/31/1884,UA,NaN
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,04/19/1966,NaN,AL,NaN
3,ARL01,Arlington Stadium,NaN,Arlington,TX,04/21/1972,10/03/1993,AL,NaN
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,04/11/1994,NaN,AL,NaN
5,ATL01,Atlanta-Fulton County Stadium,NaN,Atlanta,GA,04/12/1966,09/23/1996,NL,NaN
6,ATL02,Turner Field,NaN,Atlanta,GA,04/04/1997,10/02/2016,NL,NaN
7,ATL03,Suntrust Park,NaN,Atlanta,GA,04/14/2017,NaN,NL,NaN
8,BAL01,Madison Avenue Grounds,NaN,Baltimore,MD,07/08/1871,07/08/1871,NaN,WS3
9,BAL02,Newington Park,NaN,Baltimore,MD,04/22/1872,09/30/1882,NaN,BL1:1872-74; BL4:1873; BL2: 1882

In [8]:
park_codes_detail, park_codes_duplicated = dataset_detail(df["park_codes"])

for key, output in park_codes_detail.items():
    print("\n\n{}: \n{}".format(key, output))

Memory Usage:
136308


Shape:
(252, 9)


Columns:
Index(['park_id', 'name', 'aka', 'city', 'state', 'start', 'end', 'league',
       'notes'],
      dtype='object')


Dtypes:
park_id    object
name       object
aka        object
city       object
state      object
start      object
end        object
league     object
notes      object
dtype: object


Nulls:
park_id     0.00
name        0.00
aka        76.98
city        0.00
state       0.00
start       0.00
end        11.90
league     26.19
notes      49.21
dtype: float64


Duplicates:
0

---

### 1.1.3 Explore 'person_codes'. ###

In [9]:
df["person_codes"].head(10)

,id,last,first,player_debut,mgr_debut,coach_debut,ump_debut
0,aardd001,Aardsma,David,04/06/2004,NaN,NaN,NaN
1,aaroh101,Aaron,Hank,04/13/1954,NaN,NaN,NaN
2,aarot101,Aaron,Tommie,04/10/1962,NaN,04/06/1979,NaN
3,aased001,Aase,Don,07/26/1977,NaN,NaN,NaN
4,abada001,Abad,Andy,09/10/2001,NaN,NaN,NaN
5,abadf001,Abad,Fernando,07/28/2010,NaN,NaN,NaN
6,abadj101,Abadie,John,04/26/1875,NaN,NaN,NaN
7,abbae101,Abbaticchio,Ed,09/04/1897,NaN,NaN,NaN
8,abbeb101,Abbey,Bert,06/14/1892,NaN,NaN,NaN
9,abbec101,Abbey,Charlie,08/16/1893,NaN,NaN,07/21/1897

In [10]:
person_codes_detail, person_codes_duplicated = dataset_detail(df["person_codes"])

for key, output in person_codes_detail.items():
    print("\n\n{}: \n{}".format(key, output))

Memory Usage:
7318334


Shape:
(20494, 7)


Columns:
Index(['id', 'last', 'first', 'player_debut', 'mgr_debut', 'coach_debut',
       'ump_debut'],
      dtype='object')


Dtypes:
id              object
last            object
first           object
player_debut    object
mgr_debut       object
coach_debut     object
ump_debut       object
dtype: object


Nulls:
id               0.00
last             0.00
first            0.30
player_debut     6.40
mgr_debut       96.58
coach_debut     92.36
ump_debut       92.46
dtype: float64


Duplicates:
0

---

### 1.1.4 Explore 'team_codes'. ###

In [11]:
df["team_codes"].head(10)

  team_id league  start   end       city         nickname franch_id  seq
0     ALT     UA   1884  1884    Altoona  Mountain Cities       ALT    1
1     ARI     NL   1998     0    Arizona     Diamondbacks       ARI    1
2     BFN     NL   1879  1885    Buffalo           Bisons       BFN    1
3     BFP     PL   1890  1890    Buffalo           Bisons       BFP    1
4     BL1    NaN   1872  1874  Baltimore         Canaries       BL1    1
5     BL2     AA   1882  1891  Baltimore          Orioles       BL2    1
6     BLN     NL   1892  1899  Baltimore          Orioles       BL2    2
7     BL4    NaN   1873  1873  Baltimore        Marylands       BL4    1
8     BLA     AL   1901  1902  Baltimore          Orioles       BLA    1
9     NYA     AL   1903     0   New York          Yankees       BLA    2

In [12]:
team_codes_detail, team_codes_duplicated = dataset_detail(df["team_codes"])

for key, output in team_codes_detail.items():
    print("\n\n{}: \n{}".format(key, output))

Memory Usage:
49466


Shape:
(150, 8)


Columns:
Index(['team_id', 'league', 'start', 'end', 'city', 'nickname', 'franch_id',
       'seq'],
      dtype='object')


Dtypes:
team_id      object
league       object
start         int64
end           int64
city         object
nickname     object
franch_id    object
seq           int64
dtype: object


Nulls:
team_id       0.00
league       17.33
start         0.00
end           0.00
city          0.00
nickname      0.00
franch_id     0.00
seq           0.00
dtype: float64


Duplicates:
0

---

### 1.1.5 Explore 'appearance_type'. ###

In [13]:
df["appearance_type"].head(10)

  appearance_type_id      name category
0                 O1  Batter 1  offense
1                 O2  Batter 2  offense
2                 O3  Batter 3  offense
3                 O4  Batter 4  offense
4                 O5  Batter 5  offense
5                 O6  Batter 6  offense
6                 O7  Batter 7  offense
7                 O8  Batter 8  offense
8                 O9  Batter 9  offense
9                 D1   Pitcher  defense

In [14]:
appearance_type_detail, appearance_type_duplicated = dataset_detail(df["appearance_type"])

for key, output in appearance_type_detail.items():
    print("\n\n{}: \n{}".format(key, output))

Memory Usage:
6020


Shape:
(31, 3)


Columns:
Index(['appearance_type_id', 'name', 'category'], dtype='object')


Dtypes:
appearance_type_id    object
name                  object
category              object
dtype: object


Nulls:
appearance_type_id    0.0
name                  0.0
category              0.0
dtype: float64


Duplicates:
0

# 2. Designing database.

## 2.1 Setting up SQL Query & Command framework. ##

Return to [Table of content.](#Table-of-content.)

---

__Additional notes:__

1. SQLite will automatically create a new database if the database name doesn't exist in the directory. I will create a new database called `mlb.db`.
2. I will turn the `foreign_keys` on to avoid misalignment with the primary keys. It will notify me the error if misalignment happens so that I can debug it.

In [15]:
# To execute query.
def run_query(q):
    with sql.connect("mlb.db") as conn:
        query_result = pd.read_sql_query(q, conn)
        return query_result

    
# To execute command.
def run_command(c):
    with sql.connect("mlb.db") as conn:
        conn.execute("PRAGMA foreign_keys = ON;")
        conn.isolation_level = None
        conn.execute(c)

        
# To drop table. 
def run_drop(table_name):
    drop = "DROP TABLE {};".format(table_name)
    run_command(drop)

    
# To delete column. 
def run_delete(col_name):
    drop = "DELETE FROM {};".format(col_name)
    run_command(drop)


# To display all the available 'tables' and 'views'.
def show_tables():
    query_tables = '''
    SELECT
        name,
        type
    FROM sqlite_master
    WHERE type IN ("table", "view")
    ;
    '''
    return run_query(query_tables)


# To display the internal schema structure.
# For example keys, column names, and dtype.
def schema(table_name):
    query_tables = '''
    SELECT *
    FROM sqlite_master
    WHERE name == '{}'
    ;
    '''.format(table_name)
    
    ls = run_query(query_tables)['sql'].tolist()
    return ls[0].split("\n")

## 2.2 Inserting data into SQL tables. ##

Return to [Table of content.](#Table-of-content.)

---

__There are 3 ways to insert the data into the SQL tables.__

1. Using python with `cursor.executemany()` method.
2. Using pandas with `to_sql()` method.
3. Using SQLite shell command with `.import filename.csv table_name` method.

My objective is to __showcase my familiarity with SQL__, not working with python, so I will opt for the __2nd option__ which is `pandas` method since it's faster and convenient. The disadvantages with this method are `pandas` may alter the dtype and it doesn't include keys, but these can be fixed in SQL. 

---

__Setting up `to_sql()` framework and convert the dataframes to SQL tables.__

In [16]:
def pd_to_sql(df_name, new_table):
    with sql.connect("mlb.db") as conn: 
        tb_sql = df[df_name].to_sql(new_table, conn, index=False, if_exists="replace")
        return tb_sql

In [17]:
pd_to_sql("game_log", "game_log")
pd_to_sql("park_codes", "park_codes")
pd_to_sql("person_codes", "person_codes")
pd_to_sql("team_codes", "team_codes")
pd_to_sql("appearance_type", "appearance_codes")

__Check whether the SQL tables has been created successfully.__

In [18]:
show_tables()

               name   type
0          game_log  table
1        park_codes  table
2      person_codes  table
3        team_codes  table
4  appearance_codes  table

## 2.3 Adding new column to 'game_log' table. ##

Return to [Table of content.](#Table-of-content.)

---

Each game begins with a __twelve character ID record__ which identifies the __date__, __home team__, and __number of the game__. For example, ATL198304080 should be read as follows. The first three characters identify the home team (ATL). The next four are the year (1983). The next two are the month (April) using the standard numeric notation, 04, followed by the day (08). The last digit indicates if this is a single game (0), first game (1) or second game (2) if more than one game is played during a day, usually a double header. 

The detail can be found in [RetroSheet site](https://www.retrosheet.org/eventfile.htm).

Hence, I will add a new column `game_id` to `game_log` as an unique identifier for each game.

In [19]:
# Add new column.
command = '''
ALTER TABLE game_log
ADD COLUMN game_id TEXT
;
'''
run_command(command)

In [20]:
# Insert data into 'game_id'
command = '''
UPDATE game_log
SET
    game_id = h_name || date || number_of_game
;
'''
run_command(command)

In [21]:
# Check the result.
query = '''
SELECT 
    game_id, 
    h_name,date, 
    number_of_game 
FROM game_log 
LIMIT 10
;
'''
run_query(query)

        game_id h_name      date  number_of_game
0  FW1187105040    FW1  18710504               0
1  WS3187105050    WS3  18710505               0
2  RC1187105060    RC1  18710506               0
3  CH1187105080    CH1  18710508               0
4  TRO187105090    TRO  18710509               0
5  CL1187105110    CL1  18710511               0
6  CL1187105130    CL1  18710513               0
7  FW1187105130    FW1  18710513               0
8  FW1187105150    FW1  18710515               0
9  BS1187105160    BS1  18710516               0

## 2.4 Normalising the SQL tables. ##

Return to [Table of content.](#Table-of-content.)

---

Here're the guideline for normalisation.

1. ... 

---

__Here's a picture of the schema structure mapping for each SQL table.__

![mlb_schema](info/mlb_schema.svg "mlb_schema.")

---

__Here's order for creating SQL tables, starting from the simpler ones:__

1. `person_codes` >> `person`.
2. `park_codes` >> `park`.
3. `team_codes` >> `league`.
4. `appearance_codes` >> `appearance_type`.
5. `team_codes` >> `team` linking with `league`.
6. 

---

### 2.4.1 Create 'person' table. ###

In [22]:
# Create a new table with 'key'.
command = '''
CREATE TABLE IF NOT EXISTS person
(
    person_id TEXT PRIMARY KEY,
    first_name TEXT,
    last_name TEXT
);
'''
run_command(command)


# Insert data into the new table 
# from 'person_codes'. 
command = '''
INSERT INTO person
SELECT 
    id, 
    first, 
    last
FROM person_codes
;
'''
run_command(command)

In [23]:
# Check the result.
query = '''
SELECT * 
FROM person 
LIMIT 10
;
'''
run_query(query)

  person_id first_name    last_name
0  aardd001      David      Aardsma
1  aaroh101       Hank        Aaron
2  aarot101     Tommie        Aaron
3  aased001        Don         Aase
4  abada001       Andy         Abad
5  abadf001   Fernando         Abad
6  abadj101       John       Abadie
7  abbae101         Ed  Abbaticchio
8  abbeb101       Bert        Abbey
9  abbec101    Charlie        Abbey

In [24]:
# Check whether the SQL table has been created successfully.
show_tables()

               name   type
0          game_log  table
1        park_codes  table
2      person_codes  table
3        team_codes  table
4  appearance_codes  table
5            person  table

---

### 2.4.2 Create 'park' table. ###

In [25]:
# Create a new table with 'key'.
command = '''
CREATE TABLE IF NOT EXISTS park
(
    park_id TEXT PRIMARY KEY,
    name TEXT,
    nickname TEXT,
    city TEXT,
    state TEXT,
    notes TEXT
);
'''
run_command(command)


# Insert data into the new table 
# from 'park_codes'.
command = '''
INSERT INTO park
SELECT 
    park_id, 
    name, 
    aka, 
    city, 
    state, 
    notes
FROM park_codes
;
'''
run_command(command)

In [26]:
# Check the result.
query = '''
SELECT * 
FROM park 
LIMIT 10
;
'''
run_query(query)

,park_id,name,nickname,city,state,notes
0,ALB01,Riverside Park,None,Albany,NY,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,None,Altoona,PA,None
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,None
3,ARL01,Arlington Stadium,None,Arlington,TX,None
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,None
5,ATL01,Atlanta-Fulton County Stadium,None,Atlanta,GA,None
6,ATL02,Turner Field,None,Atlanta,GA,None
7,ATL03,Suntrust Park,None,Atlanta,GA,None
8,BAL01,Madison Avenue Grounds,None,Baltimore,MD,WS3
9,BAL02,Newington Park,None,Baltimore,MD,BL1:1872-74; BL4:1873; BL2: 1882

In [27]:
# Check whether the SQL table has been created successfully.
show_tables()

               name   type
0          game_log  table
1        park_codes  table
2      person_codes  table
3        team_codes  table
4  appearance_codes  table
5            person  table
6              park  table

---

### 2.4.3 Create 'league' table. ###

In [28]:
# Create a new table with 'key'.
command = '''
CREATE TABLE IF NOT EXISTS league
(
    league_id TEXT PRIMARY KEY,
    name TEXT
);
'''
run_command(command)
   

# Insert data into the new table 
# from 'team_codes'.
command = '''
INSERT INTO league
SELECT 
    DISTINCT(league), 
    CASE league
        WHEN "NL" THEN "National League"
        WHEN "AA" THEN "Double-A"
        WHEN "UA" THEN "Union Association"
        WHEN "PL" THEN "Players' League"
        WHEN "AL" THEN "American League"
        ELSE "Florida State League"
    END AS name
FROM team_codes
WHERE league IS NOT NULL
;
'''
run_command(command)

In [29]:
# Check the result.
query = '''
SELECT * 
FROM league 
LIMIT 10
;
'''
run_query(query)

  league_id                  name
0        UA     Union Association
1        NL       National League
2        PL       Players' League
3        AA              Double-A
4        AL       American League
5        FL  Florida State League

In [30]:
# Check whether the SQL table has been created successfully.
show_tables()

               name   type
0          game_log  table
1        park_codes  table
2      person_codes  table
3        team_codes  table
4  appearance_codes  table
5            person  table
6              park  table
7            league  table

---

### 2.4.4 Create 'appearance_type' table. ###

In [31]:
# Create a new table with 'key'.
command = '''
CREATE TABLE IF NOT EXISTS appearance_type
(
    appearance_type_id TEXT PRIMARY KEY,
    name TEXT,
    category TEXT
);
'''
run_command(command)
    

# Insert data into the new table 
# from 'team_codes'.
command = '''
INSERT INTO appearance_type
SELECT 
    appearance_type_id,
    name,
    category
FROM appearance_codes
;
'''
run_command(command)

In [32]:
# Check the result.
query = '''
SELECT * 
FROM appearance_type 
LIMIT 10
;
'''
run_query(query)

  appearance_type_id      name category
0                 O1  Batter 1  offense
1                 O2  Batter 2  offense
2                 O3  Batter 3  offense
3                 O4  Batter 4  offense
4                 O5  Batter 5  offense
5                 O6  Batter 6  offense
6                 O7  Batter 7  offense
7                 O8  Batter 8  offense
8                 O9  Batter 9  offense
9                 D1   Pitcher  defense

In [33]:
# Check whether the SQL table has been created successfully.
show_tables()

               name   type
0          game_log  table
1        park_codes  table
2      person_codes  table
3        team_codes  table
4  appearance_codes  table
5            person  table
6              park  table
7            league  table
8   appearance_type  table

---

### 2.4.5 Create 'team' table. ###

In [34]:
df["team_codes"][df["team_codes"].duplicated(subset="team_id", keep=False)]

    team_id league  start   end       city nickname franch_id  seq
112     MIL     AL   1970  1997  Milwaukee  Brewers       SE1    2
113     MIL     NL   1998     0  Milwaukee  Brewers       SE1    3

---

__Findings:__

The `team_codes` table has __duplicated MIL__ value in `team_id` column. To prevent error due to `team_id` PRIMARY KEY constraint, I will link `league_id` from `team_codes` to `league_id` from `league`, as well as writing IGNORE to ignore that duplicate.

In [35]:
# Create a new table with 'key'.
command = '''
CREATE TABLE IF NOT EXISTS team
(
    team_id TEXT,
    league_id TEXT,
    city TEXT,
    nickname TEXT,
    franch_id TEXT,
    PRIMARY KEY (team_id),
    FOREIGN KEY (league_id) REFERENCES league(league_id)
);
'''
run_command(command)


# Insert data into the new table 
# from 'team_codes'.
# Ignore duplicate. 
command = '''
INSERT OR IGNORE INTO team
SELECT 
    team_id,
    league,
    city,
    nickname,
    franch_id
FROM team_codes;
'''
run_command(command)

In [36]:
# Check the results.
query = '''
SELECT * 
FROM team 
LIMIT 10
;
'''
run_query(query)

  team_id league_id       city         nickname franch_id
0     ALT        UA    Altoona  Mountain Cities       ALT
1     ARI        NL    Arizona     Diamondbacks       ARI
2     BFN        NL    Buffalo           Bisons       BFN
3     BFP        PL    Buffalo           Bisons       BFP
4     BL1      None  Baltimore         Canaries       BL1
5     BL2        AA  Baltimore          Orioles       BL2
6     BLN        NL  Baltimore          Orioles       BL2
7     BL4      None  Baltimore        Marylands       BL4
8     BLA        AL  Baltimore          Orioles       BLA
9     NYA        AL   New York          Yankees       BLA

In [37]:
# Check whether 'team_id' contains any duplicate in 'team' table.
query = '''
SELECT * 
FROM team 
WHERE team_id == "MIL"
;
'''
run_query(query)

  team_id league_id       city nickname franch_id
0     MIL        AL  Milwaukee  Brewers       SE1

In [38]:
# Check whether the SQL table has been created successfully.
show_tables()

               name   type
0          game_log  table
1        park_codes  table
2      person_codes  table
3        team_codes  table
4  appearance_codes  table
5            person  table
6              park  table
7            league  table
8   appearance_type  table
9              team  table

---

### 2.4.6 Create 'game' table. ###

The `park_id` from `game` table will be linked to `park_id` from `park` table.

In [39]:
# Create a new table with 'key'.
command = '''
CREATE TABLE IF NOT EXISTS game
(
    game_id TEXT PRIMARY KEY,
    date NUMERIC,
    number_of_game INTEGER,
    park_id TEXT,
    length_outs INTEGER,
    day BOOLEAN,
    completion TEXT,
    forfeit TEXT,
    protest TEXT,
    attendance INTEGER,
    length_minutes INTEGER,
    additional_info TEXT,
    acquisition_info TEXT,
    FOREIGN KEY (park_id) REFERENCES park(park_id)
);
'''
run_command(command)    


# Insert data into the new table 
# from 'game_log'.
command = '''
INSERT INTO game
SELECT 
    game_id,
    date,
    number_of_game,
    park_id,
    length_outs,
    CASE day_night
        WHEN 'D' THEN 1
        WHEN 'N' THEN 0
        ELSE NULL
    END,
    completion,
    forefeit,
    protest,
    attendance,
    length_minutes,
    additional_info,
    acquisition_info
FROM game_log;
'''
run_command(command)

In [40]:
# Check the results.
query = '''
SELECT * 
FROM game_log 
LIMIT 10
;
'''
run_query(query)

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,h_score,length_outs,day_night,completion,forefeit,protest,park_id,attendance,length_minutes,v_line_score,h_line_score,v_at_bats,v_hits,v_doubles,v_triples,v_homeruns,v_rbi,v_sacrifice_hits,v_sacrifice_flies,v_hit_by_pitch,v_walks,v_intentional_walks,v_strikeouts,v_stolen_bases,v_caught_stealing,v_grounded_into_double,v_first_catcher_interference,v_left_on_base,v_pitchers_used,v_individual_earned_runs,v_team_earned_runs,v_wild_pitches,v_balks,v_putouts,v_assists,v_errors,v_passed_balls,v_double_plays,v_triple_plays,h_at_bats,h_hits,h_doubles,h_triples,h_homeruns,h_rbi,h_sacrifice_hits,h_sacrifice_flies,h_hit_by_pitch,h_walks,h_intentional_walks,h_strikeouts,h_stolen_bases,h_caught_stealing,h_grounded_into_double,h_first_catcher_interference,h_left_on_base,h_pitchers_used,h_individual_earned_runs,h_team_earned_runs,h_wild_pitches,h_balks,h_putouts,h_assists,h_errors,h_passed_balls,h_double_plays,h_triple_plays,hp_umpire_id,hp_umpire_name,1b_umpire_id,1b_umpire_name,2b_umpire_id,2b_umpire_name,3b_umpire_id,3b_umpire_name,lf_umpire_id,lf_umpire_name,rf_umpire_id,rf_umpire_name,v_manager_id,v_manager_name,h_manager_id,h_manager_name,winning_pitcher_id,winning_pitcher_name,losing_pitcher_id,losing_pitcher_name,saving_pitcher_id,saving_pitcher_name,winning_rbi_batter_id,winning_rbi_batter_id_name,v_starting_pitcher_id,v_starting_pitcher_name,h_starting_pitcher_id,h_starting_pitcher_name,v_player_1_id,v_player_1_name,v_player_1_def_pos,v_player_2_id,v_player_2_name,v_player_2_def_pos,v_player_3_id,v_player_3_name,v_player_3_def_pos,v_player_4_id,v_player_4_name,v_player_4_def_pos,v_player_5_id,v_player_5_name,v_player_5_def_pos,v_player_6_id,v_player_6_name,v_player_6_def_pos,v_player_7_id,v_player_7_name,v_player_7_def_pos,v_player_8_id,v_player_8_name,v_player_8_def_pos,v_player_9_id,v_player_9_name,v_player_9_def_pos,h_player_1_id,h_player_1_name,h_player_1_def_pos,h_player_2_id,h_player_2_name,h_player_2_def_pos,h_player_3_id,h_player_3_name,h_player_3_def_pos,h_player_4_id,h_player_4_name,h_player_4_def_pos,h_player_5_id,h_player_5_name,h_player_5_def_pos,h_player_6_id,h_player_6_name,h_player_6_def_pos,h_player_7_id,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info,game_id
0,18710504,0,Thu,CL1,None,1,FW1,None,1,0,2,54.0,D,None,None,None,FOR01,200.0,120.0,000000000,010010000,30.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,None,6.0,1.0,None,-1.0,None,4.0,1.0,1.0,1.0,0.0,0.0,27.0,9.0,0.0,3.0,0.0,0.0,31.0,4.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,None,0.0,0.0,None,-1.0,None,3.0,1.0,0.0,0.0,0.0,0.0,27.0,3.0,3.0,1.0,1.0,0.0,boakj901,John Boake,None,None,None,None,None,None,None,None,None,None,paboc101,Charlie Pabor,lennb101,Bill Lennon,mathb101,Bobby Mathews,prata101,Al Pratt,None,None,None,None,prata101,Al Pratt,mathb101,Bobby Mathews,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,None,Y,FW1187105040
1,18710505,0,Fri,BS1,None,1,WS3,None,1,20,18,54.0,D,None,None,None,WAS01,5000.0,145.0,107000435,640113030,41.0,13.0,1.0,2.0,0.0,13.0,0.0,0.0,0.0,18.0,None,5.0,3.0,None,-1.0,None,12.0,1.0,6.0,6.0,1.0,0.0,27.0,13.0,10.0,1.0,2.0,0.0,49.0,14.0,2.0,0.0,0.0,11.0,0.0,0.0,0.0,10.0,None,2.0,1.0,None,-1.0,None,14.0,1.0,7.0,7.0,0.0,0.0,27.0,20.0,10.0,2.0,3.0,0.0,dobsh901,Henry Dobson,None,None,None,None,None,None,None,None,None,None,wrigh101,Harry Wright,younn801,Nick Young,spala101,Al Spalding,braia102,Asa Brainard,None,None,None,None,spala101,Al Spalding,braia102,Asa Brainard,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,watef102,Fred Waterman,5.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,allid101,Doug Allison,2.0,hallg101,George Hall,7.0,leona101,Andy Leonard,4.0,braia102,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y,WS3187105050
2,18710506,0,Sat,CL1,None,2,RC1,None,1,12,4,54.0,D,None,None,None,RCK01,1000.0,140.0,610020003,010020100,49.0,11.0,1.0,1.0,0.0,8.0,0.0,0.0,0.0,0.0,None,1.0,0.0,None,-1.0,None,10.0,1.0,0.0,0.0,2.0,0.0,27.0,12.0,8.0,5.0,0.0,0.0,36.0,7.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,None,3.0,5.0,None,-1.0,None,5.0,1.0,3.0,3.0,1.0,0.0,27.0,12.0,13.0,3.0,0.0,0.0,mawnj901,J.H. Manny,None,None,None,None,None,None,None,None,None,None,paboc101,Charlie Pabor,hasts101,Scott Hastings,prata101,Al Pratt,fishc102,Cherokee Fisher,None,None,None,None,prata101,Al Pratt,fishc102,Cherokee Fisher,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mackd101,Denny Mack,3.0,addyb101,Bob Addy,4.0,fishc102,Cherokee Fisher,1.0,hasts101,Scott Hastings,8.0,ham-r101,Ralph Ham,5.0,ansoc101,Cap Anson,2.0,sagep101,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,None,Y,RC1187105060
3,18710508,0,Mon,CL1,None,3,CH1,None,1,12,14,54.0,D,None,None,None,CHI01,5000.0,150.0,101403111,077000000,46.0,15.0,2.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,None,1.0,0.0,None,-1.0,None,7.0,1.0,6.0,6.0,0.0,0.0,27.0,15.0,11.0,6.0,0.0,0.0,43.0,11.0,2.0,0.0,0.0,8.0,0.0,0.0,0.0,4.0,None,2.0,1.0,None,-1.0,None,6.0,1.0,4.0,4.0,0.0,0.0,27.0,14.0,7.0,2.0,0.0,0.0,willg901,Gardner Willard,None,None,None,None,None,None,None,None,None,None,paboc101,Charlie Pabor,woodj106,Jimmy Wood,zettg101,George Zettlein,prata101,Al Pratt,None,None,None,None,prata101,Al Pratt,zettg101,George Zettlein,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,None,Y,CH1187105080
4,18710509,0,Tue,BS1,None,2,TRO,None,1,9,5,54.0,D,None,None,None,TRO01,3250.0,145.0,000002232,101003000,46.0,17.0,4.0,1.0,0.0,6.0,0.0,0.0,0.0,2.0,None,0.0,1.0,None,-1.0,None,12.0,1.0,2.0,2.0,0.0,0.0,27.0,12.0,5.0,0.0,1.0,0.0,36.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,None,0.0,2.0,None,-1.0,None,7.0,1.0,3.0,3.0,1.0,0.0,27.0,11.0,7.0,3.0,0.0,0.0,leroi901,Isaac Leroy,None,None,None,None,None,None,None,None,None,None,wrigh101,Harry Wright,pikel101,Lip Pike,spala101,Al Spalding,mcmuj101,John McMullin,None,None,None,None,spala101,Al Spalding,mcmuj101,John McMullin,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y,TRO187105090
5,18710511,0,Thu,CH1,None,2,CL1,None,4,18,10,48.0,D,None,V,None,CLE01,2500.0,120.0,12120534,01410004,41.0,15.0,1.0,3.0,3.0,10.0,0.0,0.0,0.0,8.0,None,1.0,0.0,None,-1.0,None,7.0,1.0,4.0,4.0,0.0,0.0,24.0,11.0,4.0,3.0,0.0,0.0,39.0,13.0,1.0,2.0,1.0,7.0,0.0,0.0,0.0,0.0,None,0.0,0.0,None,-1.0,None,5.0,2.0,10.0,10.0,2.0,0.0,24.0,7.0,5.0,2.0,0.0,0.0,haynj901,J.H. Haynie,None,None,None,None,None,None,None,None,None,None,woodj106,Jimmy Wood,paboc101,Charlie Pabor,zettg101,George Zettlein,prata101,Al Pratt,None,None,None,None,zettg101,George Zettlein,prata101,Al Pratt,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,7.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,8.0,folet101,Tom Foley,9.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,None,Y,CL1187105110
6,18710513,0,Sat,WS3,None,2,CL1,None,5,12,8,54.0,D,None,None,None,CIN01,1200.0,150.0,141020004,004100012,42.0,9.0,2.0,0.0,0.0,5.0,0.0,0.0,0.0,1.0,None,1.0,1.0,None,-1.0,None,4.0,1.0,2.0,2.0,0.0,0.0,27.0,9.0,6.0,3.0,1.0,0.0,39.0,11.0,1.0,1.0,0.0,5.0,0.0,0.0,0.0,0.0,None,1.0,0.0,None,-1.0,None,4.0,1.0,3.0,3.0,3.0,0.0,27.0,6.0,8.0,1.0,0.0,0.0,drapj901,Doc Draper,None,None,None,None,None,None,None,None,None,None,younn801,Nick Young,paboc101,Charlie Pabor,braia102,Asa Brainard,prata101,Al Pratt,None,None,None,None,braia102,Asa Brainard,prata101,Al Pratt,watef102,Fred Waterman,2.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,glenj102,John Glenn,9.0,burrh101,Henry Burroughs,5.0,leona101,Andy Leonard,7.0,braia102,Asa Brainard,1.0,hallg101,George Hall,8.0,berth101,Henry Berthrong,4.0,whitd102,Deacon White,2.0,allia101,Art Allison,8.0,paboc101,Charlie Pabor,7.0,carlj102,Jim Carleton,3.0,kimbg101,Gene Kimball,4.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,white104,Elmer White,9.0,bassj101,John Bass,6.0,None,Y,CL1187105130
7,18710513,0,Sat,CH1,None,3,FW1,None,2,14,5,54.0,D,None,None,None,FOR01,1500.0,105.0,053210012,200002001,45.0,17.0,5.0,2.0,0.0,10.0,0.0,0.0,0.0,1.0,None,1.0,2.0,None,-1.0,None,5.0,1.0,2.0,2.0,0.0,0.0,27.0,8.0,4.0,2.0,0.0,0.0,33.0,5.0,1.0,2.0,0.0,3.0,0.0,0.0,0.0,3.0,None,1.0,0.0,None,-1.0,None,4.0,1.0,6.0,6.0,0.0,0.0,27.0,8.0,7.0,3.0,0.0,0.0,haynj901,J.H. Haynie,None,None,None,None,None,None,None,None,None,None,woodj106,Jimmy Wood,lennb101,Bill Lennon,zettg101,George Zettlein,mathb101,Bobby Mathews,None,None,None,None,zettg101,George Zettlein,mathb101,Bobby Mathews,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,donnp101,Pete Donnelly,8.0,kellb105,Bill Kelly,9.0,None,Y,FW1187105130
8,18710515,0,Mon,WS3,None,3,FW1,None,3,6,12,54.0,D,None,None,None,FOR01,NaN,140.0,030100101,003300123,42.0,8.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,None,1.0,1.0,None,-1.0,None,10.0,1.0,4.0,4.0,0.0,0.0,27.0,13.0,5.0,6.0,0.0,0.0,49.0,20.0,5.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,None,1.0,1.0,None,-1.0,None,10.0,1.0,1.0,1.0,0.0,0.0,27.0,6.0,9.0,2.0,0.0,0.0,holls901,Sam Holley,None,None,None,None,None,None,None,None,None,None,younn801,Nick Young,lennb101,Bill Lennon,mathb101,Bobby Mathews,braia102,Asa Brainard,None,None,None,None,braia102,Asa Brainard,mathb101,Bobby Mathews,watef102,Fred Waterman,2.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,glenj102,John Glenn,9.0,burrh101,Henry Burroughs,5.0,leona101,Andy Leonard,7.0,braia102,Asa Brainard,1.0,hallg101,George Hall,8.0,berth101,Henry Berthrong,4.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,donnp101,Pete Donnelly,9.0,kellb105,Bill Kelly,8.0,None,Y,FW1187105150
9,18710516,0,Tue,TRO,None,2,BS1,None,3,29,14,54.0,D,None,None,None,BOS01,2500.0,NaN,302604(11)30,610020221,64.0,26.0,3.0,1.0,0.0,26.0,0.0,0.0,0.0,2.0,None,0.0,3.0,None,-1.0,None,10.0,1.0,4.0,4.0,0.0,0.0,27.0,11.0,8.0,3.0,3.0,0.0,43.0,13.0,3.0,0.0,0.0,9.0,0.0,0.0,0.0,4.0,None,1.0,3.0,None,-1.0,None,6.0,1.0,10.0,10.0,0.0,0.0,27.0,17.0,15.0,2.0,1.0,0.0,rogem901,Mort Rogers,None,None,None,None,None,None,None,None,None,None,pikel101,Lip Pike,wrigh101,Harry Wright,mcmuj101,John McMullin,spala101,Al Spalding,None,None,None,None,mcmuj101,John McMullin,spala101,Al Spalding,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,6.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,jacks101,Sam Jackson,8.0,HTBF,Y,BS1187105160

In [41]:
# Check whether the SQL table has been created successfully.
show_tables()

                name   type
0           game_log  table
1         park_codes  table
2       person_codes  table
3         team_codes  table
4   appearance_codes  table
5             person  table
6               park  table
7             league  table
8    appearance_type  table
9               team  table
10              game  table

---
### 2.4.7 Create 'team_appearance' table. ###

In order to save the time writing many lines of column names from `game_log` when creating a new table schema, I will copy and paste the schema from `game_log` instead.

In [42]:
schema("game_log")

['CREATE TABLE "game_log" (',
 '"date" INTEGER,',
 '  "number_of_game" INTEGER,',
 '  "day_of_week" TEXT,',
 '  "v_name" TEXT,',
 '  "v_league" TEXT,',
 '  "v_game_number" INTEGER,',
 '  "h_name" TEXT,',
 '  "h_league" TEXT,',
 '  "h_game_number" INTEGER,',
 '  "v_score" INTEGER,',
 '  "h_score" INTEGER,',
 '  "length_outs" REAL,',
 '  "day_night" TEXT,',
 '  "completion" TEXT,',
 '  "forefeit" TEXT,',
 '  "protest" TEXT,',
 '  "park_id" TEXT,',
 '  "attendance" REAL,',
 '  "length_minutes" REAL,',
 '  "v_line_score" TEXT,',
 '  "h_line_score" TEXT,',
 '  "v_at_bats" REAL,',
 '  "v_hits" REAL,',
 '  "v_doubles" REAL,',
 '  "v_triples" REAL,',
 '  "v_homeruns" REAL,',
 '  "v_rbi" REAL,',
 '  "v_sacrifice_hits" REAL,',
 '  "v_sacrifice_flies" REAL,',
 '  "v_hit_by_pitch" REAL,',
 '  "v_walks" REAL,',
 '  "v_intentional_walks" REAL,',
 '  "v_strikeouts" REAL,',
 '  "v_stolen_bases" REAL,',
 '  "v_caught_stealing" REAL,',
 '  "v_grounded_into_double" REAL,',
 '  "v_first_catcher_interference" REAL,',
 '  "v_left_on_base" REAL,',
 '  "v_pitchers_used" REAL,',
 '  "v_individual_earned_runs" REAL,',
 '  "v_team_earned_runs" REAL,',
 '  "v_wild_pitches" REAL,',
 '  "v_balks" REAL,',
 '  "v_putouts" REAL,',
 '  "v_assists" REAL,',
 '  "v_errors" REAL,',
 '  "v_passed_balls" REAL,',
 '  "v_double_plays" REAL,',
 '  "v_triple_plays" REAL,',
 '  "h_at_bats" REAL,',
 '  "h_hits" REAL,',
 '  "h_doubles" REAL,',
 '  "h_triples" REAL,',
 '  "h_homeruns" REAL,',
 '  "h_rbi" REAL,',
 '  "h_sacrifice_hits" REAL,',
 '  "h_sacrifice_flies" REAL,',
 '  "h_hit_by_pitch" REAL,',
 '  "h_walks" REAL,',
 '  "h_intentional_walks" REAL,',
 '  "h_strikeouts" REAL,',
 '  "h_stolen_bases" REAL,',
 '  "h_caught_stealing" REAL,',
 '  "h_grounded_into_double" REAL,',
 '  "h_first_catcher_interference" REAL,',
 '  "h_left_on_base" REAL,',
 '  "h_pitchers_used" REAL,',
 '  "h_individual_earned_runs" REAL,',
 '  "h_team_earned_runs" REAL,',
 '  "h_wild_pitches" REAL,',
 '  "h_balks" REAL,',
 '  "h_putouts" REAL,',
 '  "h_assists" REAL,',
 '  "h_errors" REAL,',
 '  "h_passed_balls" REAL,',
 '  "h_double_plays" REAL,',
 '  "h_triple_plays" REAL,',
 '  "hp_umpire_id" TEXT,',
 '  "hp_umpire_name" TEXT,',
 '  "1b_umpire_id" TEXT,',
 '  "1b_umpire_name" TEXT,',
 '  "2b_umpire_id" TEXT,',
 '  "2b_umpire_name" TEXT,',
 '  "3b_umpire_id" TEXT,',
 '  "3b_umpire_name" TEXT,',
 '  "lf_umpire_id" TEXT,',
 '  "lf_umpire_name" TEXT,',
 '  "rf_umpire_id" TEXT,',
 '  "rf_umpire_name" TEXT,',
 '  "v_manager_id" TEXT,',
 '  "v_manager_name" TEXT,',
 '  "h_manager_id" TEXT,',
 '  "h_manager_name" TEXT,',
 '  "winning_pitcher_id" TEXT,',
 '  "winning_pitcher_name" TEXT,',
 '  "losing_pitcher_id" TEXT,',
 '  "losing_pitcher_name" TEXT,',
 '  "saving_pitcher_id" TEXT,',
 '  "saving_pitcher_name" TEXT,',
 '  "winning_rbi_batter_id" TEXT,',
 '  "winning_rbi_batter_id_name" TEXT,',
 '  "v_starting_pitcher_id" TEXT,',
 '  "v_starting_pitcher_name" TEXT,',
 '  "h_starting_pitcher_id" TEXT,',
 '  "h_starting_pitcher_name" TEXT,',
 '  "v_player_1_id" TEXT,',
 '  "v_player_1_name" TEXT,',
 '  "v_player_1_def_pos" REAL,',
 '  "v_player_2_id" TEXT,',
 '  "v_player_2_name" TEXT,',
 '  "v_player_2_def_pos" REAL,',
 '  "v_player_3_id" TEXT,',
 '  "v_player_3_name" TEXT,',
 '  "v_player_3_def_pos" REAL,',
 '  "v_player_4_id" TEXT,',
 '  "v_player_4_name" TEXT,',
 '  "v_player_4_def_pos" REAL,',
 '  "v_player_5_id" TEXT,',
 '  "v_player_5_name" TEXT,',
 '  "v_player_5_def_pos" REAL,',
 '  "v_player_6_id" TEXT,',
 '  "v_player_6_name" TEXT,',
 '  "v_player_6_def_pos" REAL,',
 '  "v_player_7_id" TEXT,',
 '  "v_player_7_name" TEXT,',
 '  "v_player_7_def_pos" REAL,',
 '  "v_player_8_id" TEXT,',
 '  "v_player_8_name" TEXT,',
 '  "v_player_8_def_pos" REAL,',
 '  "v_player_9_id" TEXT,',
 '  "v_player_9_name" TEXT,',
 '  "v_player_9_def_pos" REAL,',
 '  "h_player_1_id" TEXT,',
 '  "h_player_1_name" TEXT,',
 '  "h_player_1_def_pos" REAL,',
 '  "h_player_2_id" TEXT,',
 '  "h_player_2_name" TEXT,',
 '  "h_player_2_def_pos" REAL,',
 '  "h_player_3_id" TEXT,',
 '  "h_player_3_name" TEXT,',
 '  "h_player_3_def_pos" REAL,',
 '  "h_player_4_id" TEXT,',
 '  "h_player_4_name" TEXT,',
 '  "h_player_4_def_pos" REAL,',
 '  "h_player_5_id" TEXT,',
 '  "h_player_5_name" TEXT,',
 '  "h_player_5_def_pos" REAL,',
 '  "h_player_6_id" TEXT,',
 '  "h_player_6_name" TEXT,',
 '  "h_player_6_def_pos" REAL,',
 '  "h_player_7_id" TEXT,',
 '  "h_player_7_name" TEXT,',
 '  "h_player_7_def_pos" REAL,',
 '  "h_player_8_id" TEXT,',
 '  "h_player_8_name" TEXT,',
 '  "h_player_8_def_pos" REAL,',
 '  "h_player_9_id" TEXT,',
 '  "h_player_9_name" TEXT,',
 '  "h_player_9_def_pos" REAL,',
 '  "additional_info" TEXT,',
 '  "acquisition_info" TEXT',
 ', game_id TEXT)']

---
The `team_id`, `game_id`, `league_id` from `team_appearance` table will be linked to `team`, `game`, and `league` tables correspondingly.

In [43]:
# Create a new table with 'key'.
command = '''
CREATE TABLE IF NOT EXISTS team_appearance
(
    team_id TEXT,
    game_id TEXT,
    home BOOLEAN,
    league_id TEXT,
    score INTEGER,
    line_score TEXT,
    at_bats REAL,
    hits REAL,
    doubles REAL,
    triples REAL,
    homeruns REAL,
    rbi REAL,
    sacrifice_hits REAL,
    sacrifice_flies REAL,
    hit_by_pitch REAL,
    walks REAL,
    intentional_walks REAL,
    strikeouts REAL,
    stolen_bases REAL,
    caught_stealing REAL,
    grounded_into_double REAL,
    first_catcher_interference REAL,
    left_on_base REAL,
    pitchers_used REAL,
    individual_earned_runs REAL,
    team_earned_runs REAL,
    wild_pitches REAL,
    balks REAL,
    putouts REAL,
    assists REAL,
    errors REAL,
    passed_balls REAL,
    double_plays REAL,
    triple_plays REAL,
    PRIMARY KEY (team_id, game_id),
    FOREIGN KEY (team_id) REFERENCES team(team_id),
    FOREIGN KEY (game_id) REFERENCES game(game_id),
    FOREIGN KEY (league_id) REFERENCES league(league_id)
);
'''
run_command(command)

Most columns from `game_log` table contains both __home (h)__ and __away (v)__ team. I will include both the home and away team in the same respective column name.

In [44]:
# Insert data into the new table 
# from 'game_log'.
command = '''
INSERT INTO team_appearance
SELECT 
    {vh}_name,
    game_id,
    {boo} AS home,
    {vh}_league,
    {vh}_score,
    {vh}_line_score,
    {vh}_at_bats,
    {vh}_hits,
    {vh}_doubles,
    {vh}_triples,
    {vh}_homeruns,
    {vh}_rbi,
    {vh}_sacrifice_hits,
    {vh}_sacrifice_flies,
    {vh}_hit_by_pitch,
    {vh}_walks,
    {vh}_intentional_walks,
    {vh}_strikeouts,
    {vh}_stolen_bases,
    {vh}_caught_stealing,
    {vh}_grounded_into_double,
    {vh}_first_catcher_interference,
    {vh}_left_on_base,
    {vh}_pitchers_used,
    {vh}_individual_earned_runs,
    {vh}_team_earned_runs,
    {vh}_wild_pitches,
    {vh}_balks,
    {vh}_putouts,
    {vh}_assists,
    {vh}_errors,
    {vh}_passed_balls,
    {vh}_double_plays,
    {vh}_triple_plays
FROM game_log
'''

for idx, value in enumerate(['v','h']):
    side_boo = {'vh': value, 'boo': idx}
    run_command(command.format(**side_boo))

In [45]:
# Check the result.
query = '''
SELECT * 
FROM team_appearance 
LIMIT 10
;
'''
run_query(query)

,team_id,game_id,home,league_id,score,line_score,at_bats,hits,doubles,triples,homeruns,rbi,sacrifice_hits,sacrifice_flies,hit_by_pitch,walks,intentional_walks,strikeouts,stolen_bases,caught_stealing,grounded_into_double,first_catcher_interference,left_on_base,pitchers_used,individual_earned_runs,team_earned_runs,wild_pitches,balks,putouts,assists,errors,passed_balls,double_plays,triple_plays
0,CL1,FW1187105040,0,None,0,000000000,30.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,None,6.0,1.0,None,-1.0,None,4.0,1.0,1.0,1.0,0.0,0.0,27.0,9.0,0.0,3.0,0.0,0.0
1,BS1,WS3187105050,0,None,20,107000435,41.0,13.0,1.0,2.0,0.0,13.0,0.0,0.0,0.0,18.0,None,5.0,3.0,None,-1.0,None,12.0,1.0,6.0,6.0,1.0,0.0,27.0,13.0,10.0,1.0,2.0,0.0
2,CL1,RC1187105060,0,None,12,610020003,49.0,11.0,1.0,1.0,0.0,8.0,0.0,0.0,0.0,0.0,None,1.0,0.0,None,-1.0,None,10.0,1.0,0.0,0.0,2.0,0.0,27.0,12.0,8.0,5.0,0.0,0.0
3,CL1,CH1187105080,0,None,12,101403111,46.0,15.0,2.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,None,1.0,0.0,None,-1.0,None,7.0,1.0,6.0,6.0,0.0,0.0,27.0,15.0,11.0,6.0,0.0,0.0
4,BS1,TRO187105090,0,None,9,000002232,46.0,17.0,4.0,1.0,0.0,6.0,0.0,0.0,0.0,2.0,None,0.0,1.0,None,-1.0,None,12.0,1.0,2.0,2.0,0.0,0.0,27.0,12.0,5.0,0.0,1.0,0.0
5,CH1,CL1187105110,0,None,18,12120534,41.0,15.0,1.0,3.0,3.0,10.0,0.0,0.0,0.0,8.0,None,1.0,0.0,None,-1.0,None,7.0,1.0,4.0,4.0,0.0,0.0,24.0,11.0,4.0,3.0,0.0,0.0
6,WS3,CL1187105130,0,None,12,141020004,42.0,9.0,2.0,0.0,0.0,5.0,0.0,0.0,0.0,1.0,None,1.0,1.0,None,-1.0,None,4.0,1.0,2.0,2.0,0.0,0.0,27.0,9.0,6.0,3.0,1.0,0.0
7,CH1,FW1187105130,0,None,14,053210012,45.0,17.0,5.0,2.0,0.0,10.0,0.0,0.0,0.0,1.0,None,1.0,2.0,None,-1.0,None,5.0,1.0,2.0,2.0,0.0,0.0,27.0,8.0,4.0,2.0,0.0,0.0
8,WS3,FW1187105150,0,None,6,030100101,42.0,8.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,None,1.0,1.0,None,-1.0,None,10.0,1.0,4.0,4.0,0.0,0.0,27.0,13.0,5.0,6.0,0.0,0.0
9,TRO,BS1187105160,0,None,29,302604(11)30,64.0,26.0,3.0,1.0,0.0,26.0,0.0,0.0,0.0,2.0,None,0.0,3.0,None,-1.0,None,10.0,1.0,4.0,4.0,0.0,0.0,27.0,11.0,8.0,3.0,3.0,0.0

In [46]:
# Check whether the SQL table has been created successfully.
show_tables()

                name   type
0           game_log  table
1         park_codes  table
2       person_codes  table
3         team_codes  table
4   appearance_codes  table
5             person  table
6               park  table
7             league  table
8    appearance_type  table
9               team  table
10              game  table
11   team_appearance  table

---

### 2.4.8 Create 'person_appearance' table. ###

The `person_id`, `team_id`, `game_id`, `appearance_type_id` from `person_appearance` table will be linked to `person`, `team`, `game`, and `appearance_type` tables correspondingly.

In [47]:
# Create a new table with 'key'.
command = '''
CREATE TABLE IF NOT EXISTS person_appearance
(
    appearance_id INTEGER PRIMARY KEY AUTOINCREMENT,
    person_id TEXT,
    team_id TEXT,
    game_id TEXT,
    appearance_type_id TEXT,
    FOREIGN KEY (person_id) REFERENCES person(person_id),
    FOREIGN KEY (team_id) REFERENCES team(team_id),
    FOREIGN KEY (game_id) REFERENCES game(game_id),
    FOREIGN KEY (appearance_type_id) REFERENCES appearance_type(appearance_type_id)
);
'''
run_command(command)

Most columns from `game_log` table contains both __home (h)__ and __away (v)__ team, as well as different __player numbers__. I will include both the home and away team, as well as the different player numbers in the same respective column name.

The `appearance_type_id` will indicate the player's position whether it is __offensive__ and __defensive__ type.

In [48]:
# Insert data into the new table.
command = '''
INSERT INTO person_appearance 
(
    person_id,
    team_id,
    game_id,
    appearance_type_id
)
    SELECT 
        {hv}_player_{num}_id,
        {hv}_name,
        game_id,
        'O{num}'
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL

UNION

    SELECT 
        {hv}_player_{num}_id,
        {hv}_name,
        game_id,
        'D' || CAST({hv}_player_{num}_def_pos AS INT)
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL;
'''

for side in ['h', 'v']:
    for pos in range(1,10):
        side_pos = {'hv': side, 'num': pos}
        run_command(command.format(**side_pos))

In [49]:
# Check the result.
query = '''
SELECT * 
FROM person_appearance 
WHERE 
    appearance_type_id == "O1"
LIMIT 10
;
'''
run_query(query)

   appearance_id person_id team_id       game_id appearance_type_id
0              2  aarot101     MLN  MLN196204250                 O1
1              4  aarot101     MLN  MLN196204260                 O1
2              6  aarot101     MLN  MLN196205040                 O1
3              8  aarot101     MLN  MLN196205050                 O1
4             10  aarot101     MLN  MLN196205062                 O1
5             12  aarot101     MLN  MLN196205090                 O1
6             14  aarot101     MLN  MLN196205202                 O1
7             16  aarot101     MLN  MLN196205220                 O1
8             18  aarot101     MLN  MLN196205301                 O1
9             20  aarot101     MLN  MLN196205302                 O1

---
Next, insert different types of pitchers __winning__, __losing__ and __saving pitcher__ in `appearance_type_id`.

In [50]:
# Insert another data into the new table.
command = '''
INSERT INTO person_appearance 
(
    person_id,
    team_id,
    game_id,
    appearance_type_id
)
    SELECT 
        {pitch}_pitcher_id,
        CASE
            WHEN h_score {compare} v_score THEN h_name
            ELSE v_name
        END,
        game_id,
        'A{title}P'
    FROM game_log
    WHERE {pitch}_pitcher_id IS NOT NULL;
'''

pitcher_ls = ['Winning', 'Losing', 'Saving']
for value in pitcher_ls:
    if value == 'Winning' or 'Saving':
        compare = '>'
    if value == 'Losing':
        compare = '<'
    award = value[0]
    pitcher = {
        'pitch': value,
        'title': award,
        'compare': compare
    }
    run_command(command.format(**pitcher))

In [51]:
# Check the result.
query = '''
SELECT * 
FROM person_appearance 
WHERE 
    appearance_type_id IN ("AWP")
LIMIT 10
;
'''
run_query(query)

   appearance_id person_id team_id       game_id appearance_type_id
0        5070163  mathb101     FW1  FW1187105040                AWP
1        5070164  spala101     BS1  WS3187105050                AWP
2        5070165  prata101     CL1  RC1187105060                AWP
3        5070166  zettg101     CH1  CH1187105080                AWP
4        5070167  spala101     BS1  TRO187105090                AWP
5        5070168  zettg101     CH1  CL1187105110                AWP
6        5070169  braia102     WS3  CL1187105130                AWP
7        5070170  zettg101     CH1  FW1187105130                AWP
8        5070171  mathb101     FW1  FW1187105150                AWP
9        5070172  mcmuj101     TRO  BS1187105160                AWP

---
Next, insert additional types of player for __winning RBI batter__ and __starting pitcher__ in `appearance_type_id`.

In [52]:
# Insert another data into the new table.
command = '''
INSERT INTO person_appearance 
(
    person_id,
    team_id,
    game_id,
    appearance_type_id
)
    SELECT 
        winning_rbi_batter_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
        END,
        game_id,
        'AWB'
    FROM game_log
    WHERE winning_rbi_batter_id IS NOT NULL
    
UNION

    SELECT 
        h_starting_pitcher_id,
        h_name,
        game_id,
        'PSP'
    FROM game_log
    WHERE h_starting_pitcher_id IS NOT NULL
    
UNION
    
    SELECT 
        v_starting_pitcher_id,
        v_name,
        game_id,
        'PSP'
    FROM game_log
    WHERE v_starting_pitcher_id IS NOT NULL;
'''
run_command(command)

In [53]:
# Check the result.
query = '''
SELECT * 
FROM person_appearance 
WHERE 
    appearance_type_id == "AWB"
LIMIT 10
;
'''
run_query(query)

   appearance_id person_id team_id       game_id appearance_type_id
0        5398639  aaroh101     ATL  ATL196604290                AWB
1        5398640  aaroh101     ATL  ATL196605050                AWB
2        5398641  aaroh101     ATL  ATL196605110                AWB
3        5398642  aaroh101     ATL  ATL196608100                AWB
4        5398643  aaroh101     ATL  ATL196609250                AWB
5        5398644  aaroh101     ATL  ATL196704190                AWB
6        5398645  aaroh101     ATL  ATL196706270                AWB
7        5398646  aaroh101     ATL  ATL196707050                AWB
8        5398647  aaroh101     ATL  ATL196708160                AWB
9        5398648  aaroh101     ATL  ATL196805110                AWB

In [54]:
# Check the result.
query = '''
SELECT * 
FROM person_appearance 
WHERE 
    appearance_type_id == "PSP"
LIMIT 10
;
'''
run_query(query)

   appearance_id person_id team_id       game_id appearance_type_id
0        5398882  aased001     CAL  CAL198004130                PSP
1        5398883  aased001     CAL  CAL198004300                PSP
2        5398884  aased001     CAL  CAL198005060                PSP
3        5398885  aased001     CAL  CAL198005110                PSP
4        5398886  aased001     CAL  CAL198005270                PSP
5        5398887  aased001     CAL  CAL198006080                PSP
6        5398888  aased001     CAL  CAL198006130                PSP
7        5398889  aased001     CAL  CAL198006240                PSP
8        5398890  aased001     CAL  CAL198006290                PSP
9        5398891  aased001     CAL  CAL198007160                PSP

---
Next, insert __manager__ type. Both the home and away team's manager will be included in `appearance_type_id`.

In [55]:
# Insert another data into the new table.
command = '''
INSERT INTO person_appearance 
(
    person_id,
    team_id,
    game_id,
    appearance_type_id
)
    SELECT 
        {hv}_manager_id,
        {hv}_name,
        game_id,
        'MM'
    FROM game_log
    WHERE {hv}_manager_id IS NOT NULL;
'''

for side in ['h', 'v']:
    side_manager = {'hv': side}
    run_command(command.format(**side_manager))

In [56]:
# Check the result.
query = '''
SELECT * 
FROM person_appearance 
WHERE 
    appearance_type_id == 'MM' 
LIMIT 10
;
'''
run_query(query)

   appearance_id person_id team_id       game_id appearance_type_id
0        5848064  lennb101     FW1  FW1187105040                 MM
1        5848065  younn801     WS3  WS3187105050                 MM
2        5848066  hasts101     RC1  RC1187105060                 MM
3        5848067  woodj106     CH1  CH1187105080                 MM
4        5848068  pikel101     TRO  TRO187105090                 MM
5        5848069  paboc101     CL1  CL1187105110                 MM
6        5848070  paboc101     CL1  CL1187105130                 MM
7        5848071  lennb101     FW1  FW1187105130                 MM
8        5848072  lennb101     FW1  FW1187105150                 MM
9        5848073  wrigh101     BS1  BS1187105160                 MM

---
Next, insert different types of __umpire__ in `appearance_type_id`.

In [57]:
command = '''
INSERT INTO person_appearance 
(
    person_id,
    team_id,
    game_id,
    appearance_type_id
)
    SELECT 
        [{um_pos_lower}_umpire_id],
        NULL,
        game_id,
        'U{um_pos}'
    FROM game_log
    WHERE [{um_pos_lower}_umpire_id] IS NOT NULL;
'''

umpire_ls = ['HP', '1B', '2B', '3B', 'LF', 'RF']

for pos in umpire_ls:
    pos_lower = pos.lower()
    side_umpire = {'um_pos': pos, 'um_pos_lower': pos_lower}
    run_command(command.format(**side_umpire))

In [58]:
# Check the result.
query = '''
SELECT * 
FROM person_appearance 
WHERE 
    appearance_type_id == 'UHP' 
    AND 
    person_id == 'honoj901'
LIMIT 10
;
'''
run_query(query)

   appearance_id person_id team_id       game_id appearance_type_id
0        6272590  honoj901    None  CLE194904230                UHP
1        6272633  honoj901    None  DET194904290                UHP
2        6272667  honoj901    None  CHA194905040                UHP
3        6272700  honoj901    None  SLA194905081                UHP
4        6272728  honoj901    None  SLA194905120                UHP
5        6272766  honoj901    None  BOS194905180                UHP
6        6272814  honoj901    None  NYA194905250                UHP
7        6272826  honoj901    None  NYA194905270                UHP
8        6272852  honoj901    None  CLE194905301                UHP
9        6272878  honoj901    None  DET194906020                UHP

In [59]:
# Compare the result from 'game_log' table.
query = '''
SELECT 
    game_id, 
    hp_umpire_id 
FROM game_log 
WHERE hp_umpire_id == 'honoj901' 
LIMIT 10
;
'''
run_query(query)

        game_id hp_umpire_id
0  CLE194904230     honoj901
1  DET194904290     honoj901
2  CHA194905040     honoj901
3  SLA194905081     honoj901
4  SLA194905120     honoj901
5  BOS194905180     honoj901
6  NYA194905250     honoj901
7  NYA194905270     honoj901
8  CLE194905301     honoj901
9  DET194906020     honoj901

In [60]:
# Check whether the SQL table has been created successfully.
show_tables()

                 name   type
0            game_log  table
1          park_codes  table
2        person_codes  table
3          team_codes  table
4    appearance_codes  table
5              person  table
6                park  table
7              league  table
8     appearance_type  table
9                team  table
10               game  table
11    team_appearance  table
12  person_appearance  table
13    sqlite_sequence  table

---
### 2.4.9 Drop unnormalized tables. ###

In [61]:
run_drop('game_log')
run_drop('park_codes')
run_drop('person_codes')
run_drop('team_codes')
run_drop('appearance_codes')

In [62]:
# Check the available SQL tables.
show_tables()

                name   type
0             person  table
1               park  table
2             league  table
3    appearance_type  table
4               team  table
5               game  table
6    team_appearance  table
7  person_appearance  table
8    sqlite_sequence  table

---

# 3. Notes for future reference. #

Latest update: __2020/1/10__

__List of things to take note:__

- 

Return to [Table of content.](#Table-of-content.)